html {
  display: flex;
  justify-content: center;
  align-items: center;

  body {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+A&display=swap");
    font-family: "Noto Sans Linear A", sans-serif;
    font-size: 1em;
    max-width: 800px;
    background-color: rgb(255, 240, 225);
    font-weight: 100;
    color: rgb(50, 50, 50);

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    header {
      border-bottom: solid;
    }

    main {
      display: flex;
      justify-content: space-between;

      section {
        width: 45%;
      }
    }

    #extras {
      display: flex;
      justify-content: space-between;

      section {
        width: 45%;
      }

      div {
        display: flex;
        span {
          margin-left: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  html {
    body {
      main,
      #extras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section {
          width: 100%;
        }
      }
    }
  }
}
